<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1"/>
<title>Todo Task Details</title>
</head>
<body>
<div class="container">
<h1>ToDo Task Details</h1>
<hr>
<h3>Task name        : ${task.taskName}</h3>
<h3>Task Description : ${task.description}</h3>
<h3>Task Date        : ${task.date}</h3>
<h3>Task Start time  : ${task.startTime}</h3>

   <hr>
    
 </br></br></br></br>
 <h4>Regards</h4>
 <h5>Mizan</h5>
</div>
</body>
</html>